@model RedConnect.ViewModels.UserViewModel
<form method="post">
    <input name="email" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <input name="name" placeholder="Name" />
    <input name="address" placeholder="Address" />
    <input name="nic" placeholder="NIC" />
    <input name="phone" placeholder="phone"/>
  

    <div>
        <label>Search Location</label>
        <input asp-for="LocationText"
               id="locationSearch"
               class="form-control"
               placeholder="Type a location (e.g., Colombo, Sri Lanka)" />
    </div>

    <div>
       
        <input asp-for="AvailableLat"
               id="lat"
               type="hidden"
               step="any"
               class="form-control" />
    </div>

    <div>
      
        <input asp-for="AvailableLng"
               id="lng"
               type="hidden"
               step="any"
               class="form-control" />
    </div>

    <button type="submit">Register</button>
</form>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGFA-UcwC7AvF2sCT3MHNCvqOu5tX51_M&libraries=places"></script>
<script>
    function initAutocomplete() {
        const input = document.getElementById("locationSearch");

        const autocomplete = new google.maps.places.Autocomplete(input, {
            types: ["geocode"],
            componentRestrictions: { country: "lk" } // restrict to Sri Lanka
        });

        autocomplete.addListener("place_changed", function () {
            const place = autocomplete.getPlace();

            if (!place.geometry) {
                alert("No details available for selected location");
                return;
            }

            const lat = place.geometry.location.lat();
            const lng = place.geometry.location.lng();

            document.getElementById("lat").value = lat;
            document.getElementById("lng").value = lng;
        });
    }

    window.onload = initAutocomplete;
</script>

