<h2>Reset Password</h2>

<form method="post">

	<input type="hidden" name="token" value="@ViewBag.Token" />

	<label>New Password</label>
	<input name="password" type="password" />

	<button type="submit">Reset Password</button>

</form>